div{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gainsboro;
    height: 100%; 
}

form{
    text-align: center;
    border-style: solid;

    width: 60%;
    padding: 10px;
} 

/* div{
    margin:50px 0px; padding:0px;
    width: 50%;
    text-align:center;
    align:center;
} */

mat-form-field{
    display: block;
    text-align: center;
}

button{
    text-align: center;
}
