<app-nav-bar></app-nav-bar>

<div class="section">  
    <form [formGroup] = "signInForm" (ngSubmit)="submitHandler()">
        <h2>Log In</h2>
        <!-- Value: {{ signInForm.value | json }}  -->
    
        <hr>
        <mat-form-field>
            <input matInput placeholder="User Name" formControlName="userName">
            <mat-hint>User Name must be at least 5 characters</mat-hint>
            <mat-error *ngIf="userName.invalid && userName.touched">
                Required Field
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        
            <mat-hint>Password is at least 7 characters</mat-hint>
        </mat-form-field>

        <button matraisedbutton [disabled]="signInForm.invalid" class="btn btn-primary" type="submit">Log In</button>
    
    </form>

    <div class="alert" *ngIf="isShow">
        <div style="padding: 0; color: #D8000C; background-color: #FFD2D2;">
          {{message}}
        </div>
    </div>
</div>  

<app-footer></app-footer>
<router-outlet></router-outlet>
