#page{
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: gainsboro;
}

#to-add-user{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2px;
}
.message-form{ 
    position: fixed; 
    bottom: 0;
    width: 100%;
    display: flex;
}

.send-button{
    float: right;
}

.message-box{
    width: 100%;
    background-color: white;
} 


