<app-settings-message-nav-bar></app-settings-message-nav-bar>

<div id="page">
    <h3>Users: {{ allUsers | json}}</h3>
    <!-- <p class *ngFor="let user of allUsers">
        {{user}}
    </p> -->

        <hr>
        
        <form id="to-add-user" [formGroup] = "currentUser" (ngSubmit)="addUser()">
            <mat-form-field>
                <input matInput placeholder="Enter Friends Username" formControlName="user">
            
            </mat-form-field>
    
            <button matraisedbutton [disabled]="currentUser.invalid" class="btn btn-primary" type="submit">Add to conversation</button>
            
            
        </form>
        
        <div>
            {{errorMessage}}
        </div>

        
        

    <form class="message-form" [formGroup] = "newMessage" (ngSubmit)="createConversation()">
        <hr>
        
        <mat-form-field class="message-box">
            <textarea matInput placeholder="Message" formControlName="msgBody"></textarea>
        </mat-form-field>
        <button class="send-button" matraisedbutton class="btn btn-primary" type="submit">Send</button>

    </form>
</div>