.page{
    height: 100%;
    display: flex;
    align-content: space-between;
}

.red{
    background-color: red;
    width: 90px;
}

.new-user-forms{
    align-content:flex-start;
    display: flex;
    flex-wrap:wrap;
}

.new-user-form{
    border-style: solid;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.div-button-center{
    text-align: center;
}

.message-form{ 
    position: fixed; 
    bottom: 0;
    width: 100%;
    display: flex;
}

.send-button{
    float: right;
}

.message-box{
    width: 100%;
} 


